<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>

  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand px-3">Home</a>
    <span class="navbar-text px-3"> | </span> 
    {{if .IsLoggedIn}}
    <a href="/payment" class="navbar-brand px-3">Pay</a>
    <span class="navbar-text px-3"> | </span> 
    <a href="/all-accounts" class="navbar-brand px-3">All Accounts</a>
    <span class="navbar-text px-3"> | </span> 
    <a href="/delete-account" class="navbar-brand px-3">Delete Account</a>
    <span class="navbar-text px-3"> | </span> 
    {{end}}
    <div id="auth-links" class="ml-auto">
    </div>
  </div>

  <script>
    const authLinks = document.getElementById('auth-links');
    let isLoggedIn = {{ .IsLoggedIn }};

    if (isLoggedIn) {
      authLinks.innerHTML = '<a href="/logout" class="navbar-brand">Logout</a>';
    } else {
      authLinks.innerHTML = '<a href="/login" class="navbar-brand">Login</a>';
    }
  </script>

    <div class="container mt-4">
      <h1>Create a New Account</h1>
      <form method="POST" action="/create-account">
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="phone_number">Phone Number:</label>
          <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
    </div>

  </body>
</html>